// Colors definition

$pi-color--black: #0d0d0d;
$pi-color--white: #ffffff;
$pi-color--neon: #ee05f2;

// Allocation

$pi-color--light: $pi-color--white;
$pi-color--dark: $pi-color--black;
$pi-color--accent: $pi-color--neon;
